<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1QxPZiZLTZTJCB6Z6jvVijIk5XTktg44</string>
	<key>GCM_SENDER_ID</key>
	<string>452949840056</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invoiceGenerator</string>
	<key>PROJECT_ID</key>
	<string>invoice-app-c772e</string>
	<key>STORAGE_BUCKET</key>
	<string>invoice-app-c772e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452949840056:ios:4b97a1b6f3ec9b8edb244d</string>
</dict>
</plist>